<div class="container">
    <div class="header">
        <div class="logo">Home<strong>Picker</strong></div>
        <div class="navigation">
            <div [routerLink]="['/']" class="links">Selections</div>
            <div [routerLink]="['/results']" class="links">Results</div>
            <div [routerLink]="['/history']" class="links">History</div>
            <div *ngIf="!login_status; else login" [routerLink]="['/login']" class="links">Sign In</div>
            <ng-template #login>
                <div class="links">
                  {{username}}
                </div>
                <div class="links">
                    Sign out
                </div>
            </ng-template>
        </div>
    </div>
</div>