<div class="container">
    <form [formGroup]="registration_form" (ngSubmit)="submit()" class="box">
        <div><strong>Create Your HomePicker Account</strong></div>
        <div class="input">
            <label>First Name</label>
            <input type="text" formControlName="fname" placeholder="John">
        </div>
        <div class="input">
            <label>Last Name</label>
            <input type="text" formControlName="lname" placeholder="Doe">
        </div>
        <div class="input">
            <label>Email</label>
            <input type="text" formControlName="email" placeholder="acrea@gmail.com">
        </div>
        <div class="input">
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="">
        </div>
        <div class="input">
            <label>Confirm</label>
            <input type="password" formControlName="confirm" placeholder="">
        </div>
        <button type="submit">Submit</button>
        <div *ngIf="warning_status" class="error">Warning: {{error_message}}</div>
    </form>
</div>