.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.box {
    background-color: #f5f5f5;
    height: 24em;
    width: 25em;
    padding: 0.7em 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

.input {
    width: 90%;
    padding: 0 1em;
}

input {
    width: 80%;
    background-color: #e3e3e3;
    padding: 0.3em 0.9em;
    font-family: 'Raleway', sans-serif;
    margin-left: 1em;
}

label {
    padding-left: 1.4em;
    margin-bottom: 0.2em;
    font-size: 0.8em;
}

button {
    width: 80%;
    border-radius: 7px;
    padding: 0.3em 0;
    margin-top: 0.5em;

    color: #f5f5f5;
    background-color: #E37E4B;
}

button:hover {
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.7em;
}