.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.box {
    height: 24em;
    width: 21em;
    padding: 0 0;
    padding-bottom: 10em;

    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #f5f5f5;
}

.tabs {
    position: relative;
    min-height: 200px; /* This part sucks */
    height: 100%;
}
.tab {
    float: left;
}
.tab label {
    /* background: #eee; */
    padding: 10px;
    margin-left: -1px;
    position: relative;
    left: 1px;
}
.tab [type="radio"] {
    display: none;
}
.content {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    padding-top: 0;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.content > * {
    margin-top: 1em;
}

.content > * {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.6s ease;
}

.tab [type="radio"]:checked ~ label.for_tabs {
    font-weight: 600;
    color: #E37E4B;
    border-bottom: 1px solid #E37E4B;
    z-index: 2;
}

.tab [type="radio"]:checked ~ label.for_tabs ~ .content {
    z-index: 1;
}

.tab [type="radio"]:checked ~ label.for_tabs ~ .content > * {
    opacity: 1;
    transform: translateX(0);
}

input[type="radio"] {
    display: none;
}

.content label {
    text-align: center;

    border-radius: 5px;
    width: 80%;
    border: 1px solid white;
}

.content label:hover {
    
    background-color: #FFFFFF80;
    cursor: pointer;
}

/* [type="checkbox"].checks:checked ~ label {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}  */

#buy:checked ~ #buybox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#rent:checked ~ #rentbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#east:checked ~ #eastbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#west:checked ~ #westbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#north:checked ~ #northbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#northeast:checked ~ #northeastbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#central:checked ~ #centralbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#hdb:checked ~ #hdbbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#condo:checked ~ #condobox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#land:checked ~ #landbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#two:checked ~ #twobox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#three:checked ~ #threebox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#four:checked ~ #fourbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#five:checked ~ #fivebox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

#exec:checked ~ #execbox {
    background: #E37E4B95;
    border: 1px solid #E37E4B; 
}

.button1 {
    display: flex;
    width: 80%;
    justify-content: flex-end;
}

.button2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 0.8em;
    font-weight: 200;
    color: #f5f5f5;
    border-radius: 5px;
    padding: 0.3em 0.5em;
    margin-top: 1em;
    cursor: pointer;
}

button:hover {
    color: #E37E4B;
    font-weight: 600;
    cursor: pointer;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 7em;
}

.error {
    color: red;
    font-size: 0.8em;
}