.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.box {
    background-color: #f5f5f5;
    height: 18em;
    width: 23em;
    padding: 0.7em 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.input {
    width: 90%;
    padding: 0 1em;
}


input {
    width: 80%;
    background-color: #e3e3e3;
    padding: 0.5em 1em;
    font-family: 'Raleway', sans-serif;
    margin-left: 1em;
}

#forgotPassword {
    width: 92%;
    text-align: right;
    font-size: 0.6em;
    color: #b5b5b5;
}

#forgotPassword span:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
    width: 80%;
    border-radius: 7px;
    padding: 0.5em 0;

    color: #f5f5f5;
}

button:hover {
    cursor: pointer;
}

.sign-in {
    background-color: #E37E4B;
}

.create {
    background-color: #B5B5B5;
}

.error {
    color: red;
    font-size: 0.7em;
}

