<div class="container">
    <form [formGroup]="login_form" (ngSubmit)="login()" class="box">
        <div class="input">
            <input type="text" formControlName="email" placeholder="Email">
        </div>
        <div class="input">
            <input type="password" formControlName="password" placeholder="Password">
            <div id="forgotPassword"><span>Forgot Password?</span></div>
        </div>
        <button type="submit" class="sign-in">
            Sign In
        </button>
        <button [routerLink]="['/login/register']" class="create">
            Create an account
        </button>
        <div *ngIf="error" class="error">Error: {{error_message}}</div>
    </form>
</div>