/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body, html {
  height: 100%;
}

.wrapper {
  height: 100%;
}