<div class="container">
    <form [formGroup]="priority_form" (ngSubmit)="submit()" class="box">
        <div class="title"><strong>Select your priorities</strong></div>
        <div>
            <div>
                Food <strong>:</strong>
                <select id="food" formControlName="foodWeight">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                  </select>
            </div>
        </div>
        <div>
            <div>
                Education <strong>:</strong>
                <select id="education" formControlName="educationWeight">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                  </select>
            </div>
        </div>
        <div>
            <div>
                Healthcare <strong>:</strong>
                <select id="healthcare" formControlName="healthcareWeight">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                  </select>
            </div>
        </div>
        <div>
            <div>
                Sports <strong>:</strong>
                <select id="sports" formControlName="sportsWeight">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                  </select>
            </div>
        </div>
        <div>
            <div>
                Interconnectivity <strong>:</strong>
                <select id="sports" formControlName="interconnectivityWeight">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                  </select>
            </div>
        </div>

        <button type="submit">Submit</button>

        <div *ngIf="error" class="error">{{error_message}}</div>
    </form>
</div>